<!DOCTYPE html>
<html>

<head>
  <title>Mentions légales</title>
  <meta name="description" content= "Association loi 1901, le Centre social Louise Michel de Golbey est un lieu de proximité ouvert à tous, proposant un accueil convivial.">
  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/Accueil/logo.png" alt="logo">
  <meta name="viewport" content="width=device-width, initial-scale=0.3">

</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="./images/Accueil/logo.png" alt="logo louise michel Golbey" style="height: 50px; border-radius: 10%;"
              class="d-fluid align-center">
            Centre Social Louise Michel
          </a>

          <!-- Menu -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Accueil</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Programmes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/periscolaire">Périscolaire</a></li>
                      <li><a class="dropdown-item" href="/HalteGarderie">Petite enfance</a></li>
                      <li><a class="dropdown-item" href="/prog-enfant">Enfants</a></li>
                      <li><a class="dropdown-item" href="/prog-adolescents">Adolescents</a></li>
                      <li><a class="dropdown-item" href="/adultes">Adultes</a></li>
                      <li><a class="dropdown-item" href="/Familles">Familles</a></li>
                      <!-- Vacances scolaires à mettre en com dès en fc des vacances -->
                      <li><a class="dropdown-item" href="#">Les vacances scolaires</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tarifs">Nos tarifs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Qui">Qui sommes nous?</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/Qui">Nos horaires</a>
                  </li> -->
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/Nous-contacter">Nous contacter</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </nav>
      <!-- Bienvenue -->
      <h1>Bienvenue au centre social Louise Michel</h1>


      <!-- Mentions Légales -->

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h1 style="font-size: 45px;" class="m">Mentions légales</h1>
          <h5 class="m" style="font-size: 25px;"><b>Présentation du site</b></h5>
          <p class="m card-text fs-5" style="margin-bottom: 20px; ">
            En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique,
            il est précisé aux utilisateurs du site <b>http://cslouisemichel.fr/</b>
            <br>l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
            <br><b>Le présent site est édité par :</b>Le centre social Louise Michel, Association ayant pour numéro de
            SIRET
            34160612700015, domicilié au 1 rue Louis Blériot, 88190 Golbey
            <br><b>Responsable de la publication : </b>Centre social Louise Michel,
            <br> Joignable par <b>téléphone</b> au 0329346085
            <br>Par <b>email</b> : directionlouisemichel@hotmail.com
            <br><b>Webmaster du site :</b> Angélique Robert, joignable par téléphone au 0329346085
            <br><b>Hébergeur du site :</b> OVH, domicilié 2 rue Kellermann – BP 80157 59053 ROUBAIX CEDEX 1 et
            joignable par
            téléphone au +33 (0)8 99 70 17 61</p>
        </div>
      </div>


      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h5 class="m" style="font-size: 25px;"><b>Propriété intellectuelle et contrefaçons</b></h5>
          <p class="m card-text fs-5" style="margin-bottom: 20px; ">
            L’association Centre social Louise Michel est propriétaire des droits de propriété intellectuelle ou détient
            les droits d’usage sur tous les éléments accessibles sur le site, notamment : les textes, les images, les
            graphismes, le logo, les icônes,…
            <br>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments
            du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de
            l’entreprise Centre social Louise Michel.
            <br>Toute exploitation non autorisée du site ou d’un quelconque élément qu’il contient sera considérée comme
            constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants
            du Code de Propriété Intellectuelle.</p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h5 class="m" style="font-size: 25px;"><b>Cookies et traceurs</b></h5>
          <p class="m card-text fs-5" style="margin-bottom: 20px; ">
            Le site internet <b>http://cslouisemichel.fr/</b> possède un système de mesure d’audience, ainsi qu’une
            fonction de partage sur les réseaux sociaux.
            <br>En application de la directive européenne dite « paquet télécom », les internautes doivent être informés
            et donner leur consentement préalablement à l’insertion de traceurs (plus couramment appelés « cookies »).
            <br>Les internautes doivent disposer d’une possibilité de choisir de ne pas être tracés lorsqu’ils visitent
            un
            site ou utilisent une application.
            <br>Les éditeurs de sites internet ont donc l’obligation de solliciter au
            préalable le consentement des utilisateurs.
            <br>Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services.
            L’internaute peut toutefois configurer son navigateur internet pour refuser l’installation des cookies.</p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h5 class="m" style="font-size: 25px;"><b>Mesure d’audience</b></h5>
          <p class="m card-text fs-5" style="margin-bottom: 20px; ">
            Les cookies de mesure d’audience sont de petits fichiers qui permettent de connaître et d’analyser les
            statistiques de trafic sur le site internet : les pages visitées, le nombre de visites, le taux de rebond,
            la provenance des visites, …
            <br>Les cookies de mesure d’audience sont totalement anonymes.
            Sur ce site, c’est la solution Google Analytics qui est utilisée pour mesurer l’audience.
          </p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h5 class="m" style="font-size: 25px;"><b>Réseaux sociaux</b></h5>
          <p class="m card-text fs-5" style="margin-bottom: 20px; ">
            Les cookies liés aux réseaux sociaux sont associés aux boutons qui facilitent le partage des pages et
            articles sur les réseaux sociaux.
          </p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h5 class="m" style="font-size: 25px;"><b>Formulaire de contact et commentaires</b></h5>
          <p class="m card-text fs-5" style="margin-bottom: 20px; ">
            Vous pouvez être amené à nous indiquer votre adresse e-mail lorsque vous remplissez notre formulaire de
            contact ou déposez un commentaire sur l’un des articles du site <b>http://cslouisemichel.fr/</b>.
            <br>En aucun cas, votre adresse e-mail ne sera cédée à des tiers.
          </p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h5 class="m" style="font-size: 25px;"><b>Modération des commentaires</b></h5>
          <p class="m card-text fs-5" style="margin-bottom: 20px; ">
            Le choix de validation d’un commentaire sur le site <b>http://cslouisemichel.fr/</b> est laissé à l’entière
            appréciation du responsable de publication.
            <br>Les commentaires peuvent être supprimés, modifiés et corrigés
            pour une meilleure compréhension des visiteurs (notamment pour l’orthographe).
            <br>L’internaute peut signer son commentaire de son nom ou pseudo ou nom de son entreprise.
            <br>Il peut également
            renseigné une URL dans le champ « site web ». Ce lien peut ne pas apparaître s'il a été jugé que le
            commentaire n’apportait pas réellement de plus-value à l’article.
            <br>Ceci, même si le commentaire est publié.
            <br>Voici des exemples de cas ou un commentaire peut-être modéré ou supprimé :
            <br> - Il a été supprimé par l’anti-spam
            <br> - Il n’apporte pas réellement de plus-value et n’est pas utile pour les internautes
            <br> - Il est truffé de fautes d’orthographe ou incompréhensible
            <br> - Il semble être déposé uniquement dans un but auto-promotionnel
            <br> - Le mail indiqué est visiblement faux
            <br> - Il est jugé diffamatoire pour un tiers
          </p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h5 class="m" style="font-size: 25px;"><b>Newsletter</b></h5>
          <p class="m card-text fs-5" style="margin-bottom: 20px; ">
            Vous pouvez vous abonner à la newsletter du site. Vous recevez alors automatiquement et gratuitement des
            newsletters traitants les sujets du site <b>http://cslouisemichel.fr/</b>.
            <br>Vous pouvez vous désinscrire à tout moment de la newsletter en cliquant sur le lien de désabonnement
            présent
            en bas de chaque newsletter.
            En aucun cas, votre adresse e-mail ne sera cédée à des tiers.
          </p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h5 class="m" style="font-size: 25px;"><b>Liens hypertextes</b></h5>
          <p class="m card-text fs-5" style="margin-bottom: 20px; ">
            Ce site internet contient un certain nombre de liens hypertextes vers d’autres sites.
            <br>Cependant,
            <b>http://cslouisemichel.fr/</b> n’a pas la possibilité de suivre et vérifier le contenu de ces sites, et
            n’assumera en conséquence aucune responsabilité de ce fait.
          </p>
        </div>
      </div>




     <!-- Bas de page -->
     <div class="card text-center" style="background: transparent;">
      <div class="card-header" style="color: black; background: transparent; margin-bottom: 10px;">
        <h1>Suivez-nous</h1>
      </div>
      <div class="card-body" style="background: transparent;">
        <a href="https://www.facebook.com/centresociallouisemichelgolbey" class="btn btn-outline"
          style="width: 60px; height: 60px; margin-bottom: 10px;">
          <img src="./images/Bas de page/facebook-square-brands.svg"></i></a>
        <a href="https://www.youtube.com/channel/UCveiS4xB037HySo1TRXHnSg" class="btn btn-outline"
          style="width: 70px; height: 70px;"><img src="./images/Bas de page/youtube-brands.svg"></i></a>
        <a href="https://www.instagram.com/centre_louise_michel_golbey/" class="btn btn-outline"
          style="width: 60px; height: 60px;margin-bottom: 10px;"><img src="./images/Bas de page/instagram-square-brands.svg"></i></a>
          <a href="https://www.tiktok.com/@louisemichel88190?lang=fr" class="btn btn-outline"
          style="width: 55px; height: 55px; margin-bottom: 10px;"><img src="./images/Bas de page/tiktok-brands.svg"></i></a>
        <!-- <a class="btn btn-outline" href="/Nous-contacter" style="margin-bottom: 15px;  color: black; font-size: 30px;" >
          Nous contacter
        </a> -->
        <a class="btn btn-outline" href="/Mentions-legales" style="margin-bottom: 15px;  color: black; font-size: 30px;" >
          Mentions légales
        </a>

      </div>
      <div class="card-footer text-muted">
      </div>
    </div>




    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
  </script>
</body>

</html>