<!DOCTYPE html>
<html>

<head>
  <title>Centre Social Louise Michel Golbey</title>
  <meta name="description"
    content="Association loi 1901, le Centre social Louise Michel de Golbey est un lieu de proximité ouvert à tous, proposant un accueil convivial.">
  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/Accueil/logo.png" alt="logo">
  <meta name="viewport" content="width=device-width, initial-scale=0.3">

</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="./images/Accueil/logo.png" alt="" style="height: 50px; border-radius: 10%;"
              class="d-fluid align-center">
            Centre Social Louise Michel
          </a>

          <!-- Menu -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Accueil</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Programmes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/periscolaire">Le périscolaire</a></li>
                      <li><a class="dropdown-item" href="/HalteGarderie">Petite enfance</a></li>
                      <li><a class="dropdown-item" href="/prog-enfant">Enfants</a></li>
                      <li><a class="dropdown-item" href="/prog-adolescents">Adolescents</a></li>
                      <li><a class="dropdown-item" href="/adultes">Adultes</a></li>
                      <li><a class="dropdown-item" href="/Familles">Familles</a></li>
                      <!-- Vacances scolaires à mettre en com dès en fc des vacances -->
                      <!-- <li><a class="dropdown-item" href="#">Les vacances scolaires</a></li> -->
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tarifs">Nos tarifs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Qui">Qui sommes nous?</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/Qui">Nos horaires</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="/Nous-contacter">Nous contacter</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </nav>
      <!-- Bienvenue -->
      <h1>Bienvenue au centre social Louise Michel</h1>

      <!-- SLIDE -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner col-12">
          <div class="carousel-item active">
            <img src="./images/Accueil/centre.jpg" class="d-fluid w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./images/Accueil/annexe.jpg" class="d-fluid w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      <!-- Qui sommes nous? -->

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h1 class="card-title">Qui sommes nous?</h1>
          <p class="card-text fs-5" style="margin-bottom: 20px; ">
            L’association des Usagers du Centre Social Louise Michel est une association loi 1901, gérée par un Conseil
            d'administration composé de 12 membres élus et complété par 2 membres de la commune et 2 membres de la
            CAF.
            <br>La structure est agréée par la direction départementale de la jeunesse et des sports, par la protection
            maternelle infantile pour les enfants de moins de 6 ans et dispose d'un agrément jeunesse et éducation
            populaire.
            <br>Elle est affiliée à la Fédération des œuvres laïques des Vosges.
            <br>Elle adhère à la convention collective nationale des centres sociaux et socioculturels du 4 juin 1983.
            <br>Implanté depuis Avril 1987,le centre social est pour beaucoup d’habitants, famille et enfants, un repère
            citoyen dans leur
            environnement.
            <br>Après un agrandissement des locaux en 2013 et l’inauguration de l’annexe Louise Michel dans le quartier
            de
            Maximont en 2016, la fréquentation et la demande sont en pleine expansion.
            <br>Devant une telle progression, les actions menées pour dynamiser le quartier visent à s’intensifier.</p>
        </div>
      </div>


      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h1 class="card-title">Nos valeurs éducatives</h1>
          <p class="card-text fs-5" style="margin-bottom: 20px;">
            Les valeurs éducatives définissent les 4 axes d’intervention principale de notre structure :
            <br>- Des habitants acteurs de leurs projets et de leur territoire
            <br>- Mieux vivre ensemble
            <br>- Démocratie et citoyenneté
            <br>- Projet famille</p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.603); margin-bottom: 10px;">
          <h1 class="card-title">Nos intentions éducatives</h1>
          <p class="card-text fs-5" style="margin-bottom: 20px;">
            Nos valeurs éducatives sont déclinées en plusieurs intentions :
            <br>
            <br> - Organiser une fonction d'accueil et d'écoute des habitants usagers, des familles et des groupes
            informels
            <br> - Assurer une attention particulière aux familles et au public fragilisé
            <br> - Développer la participation et la prise de responsabilité par les usagers et les bénévoles
            <br> - Organiser la concertation et la coordination avec les professionnels et les acteurs impliqués dans
            les problématiques sociales du territoire
            <br> - Maintenir les activités d’utilité sociale construites au plus près des besoins des citoyens
            <br> - Développer et renforcer un travail éducatif de prévention
            <br> - Favoriser et structurer l'action transversale en interne et en externe</p>
        </div>
      </div>



      <!-- Messenger Plug-in Discussion Code -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function () {
          FB.init({
            xfbml: true,
            version: 'v10.0'
          });
        };

        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <!-- Your Plug-in Discussion code -->
      <div class="fb-customerchat" attribution="setup_tool" page_id="269363320180435">
      </div>




      <!-- Bas de page -->
      <div class="card text-center" style="background: transparent;">
        <div class="card-header" style="color: black; background: transparent; margin-bottom: 10px;">
          <h1>Suivez-nous</h1>
        </div>
        <div class="card-body" style="background: transparent;">
          <a href="https://www.facebook.com/centresociallouisemichelgolbey" class="btn btn-outline"
            style="width: 60px; height: 60px; margin-bottom: 10px;">
            <img src="./images/Bas de page/facebook-square-brands.svg"></i></a>
          <a href="https://www.youtube.com/channel/UCveiS4xB037HySo1TRXHnSg" class="btn btn-outline"
            style="width: 70px; height: 70px;"><img src="./images/Bas de page/youtube-brands.svg"></i></a>
          <a href="https://www.instagram.com/centre_louise_michel_golbey/" class="btn btn-outline"
            style="width: 60px; height: 60px;margin-bottom: 10px;"><img
              src="./images/Bas de page/instagram-square-brands.svg"></i></a>
          <a href="https://www.tiktok.com/@louisemichel88190?lang=fr" class="btn btn-outline"
            style="width: 55px; height: 55px; margin-bottom: 10px;"><img
              src="./images/Bas de page/tiktok-brands.svg"></i></a>
          <a class="btn btn-outline" href="/Nous-contacter"
            style="margin-bottom: 15px;  color: black; font-size: 30px;">
            Nous contacter
          </a>
          <a class="btn btn-outline" href="/Mentions-legales"
            style="margin-bottom: 15px;  color: black; font-size: 30px;">
            Mentions légales
          </a>

        </div>
        <div class="card-footer text-muted">
        </div>
      </div>






    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
  </script>
</body>

</html>