<!DOCTYPE html>
<html>

<head>
  <title>Centre Social Louise Michel Golbey</title>
  <meta name="description"
    content="Association loi 1901, le Centre social Louise Michel de Golbey est un lieu de proximité ouvert à tous, proposant un accueil convivial.">
  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/Accueil/logo.png" alt="logo">
  <meta name="viewport" content="width=device-width, initial-scale=0.3">


</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <!-- Barre de navigation -->
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="./images/Accueil/logo.png" alt="logo" style="height: 50px; border-radius: 10%;"
              class="d-fluid align-center">
            Centre Social Louise Michel
          </a>

          <!-- Menu -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Accueil</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Programmes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/periscolaire">Périscolaire</a></li>
                      <li><a class="dropdown-item" href="/HalteGarderie">Petite enfance</a></li>
                      <li><a class="dropdown-item" href="/prog-enfant">Enfants</a></li>
                      <li><a class="dropdown-item" href="/prog-adolescents">Adolescents</a></li>
                      <li><a class="dropdown-item" href="/adultes">Adultes</a></li>
                      <li><a class="dropdown-item" href="/Familles">Familles</a></li>
                      <!-- Vacances scolaires à mettre en com dès en fc des vacances -->
                      <!-- <li><a class="dropdown-item" href="#">Les vacances scolaires</a></li> -->
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tarifs">Nos tarifs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Qui">Qui sommes nous?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/partenaires">Nos partenaires</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/Nous-contacter">Nous contacter</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </nav>
      <!-- Bienvenue -->
      <h1>Bienvenue au centre social Louise Michel</h1>

      <!-- SLIDE -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner col-12">
          <div class="carousel-item active">
            <img src="./images/Accueil/centre.jpg" class="d-fluid w-100" alt="centre">
          </div>
          <div class="carousel-item">
            <img src="./images/Accueil/annexe.jpg" class="d-fluid w-100" alt="annexe">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>

      <h1 style="font-size: 50px;">Tarifs des activités culturelles</h1>

      <div style="display: flex;">
        <div class="row m">
          
          <a href="#enfants" style="text-align: center; font-size: 33px; color: black;">Tarifs enfants</a>
          <a href="#ados" style="text-align: center; font-size: 33px; color: black;">Tarifs adolescents</a>
          <a href="#adultes" style="text-align: center; font-size: 33px; color: black;">Tarifs adultes</a>
          <a href="#artistiques" style="text-align: center; font-size: 33px; color: black;">Activités artistiques</a>
          <a href="#artisanat" style="text-align: center; font-size: 33px; color: black;">Artisanat adulte</a>
          <a href="#sportives" style="text-align: center; font-size: 33px; color: black;">Activités sportives</a>
          <a href="#thematique" style="text-align: center; font-size: 33px; color: black;">Atelier thématique</a>
          <a href="#famille" style="text-align: center; font-size: 33px; color: black;">Activités en famille</a>
          <a href="#culturel" style="text-align: center; font-size: 33px; color: black;">Loisirs culturels</a>
        </div>
        
      </div>


      <h3 style="text-align: center; margin-top: 100px; font-size: 40px;" id="enfants">Tarifs enfants</h3>
      <!-- Tableau tarifs Enfants -->

      <table id="activitescult" class="table table-bordered"
        style="margin-top: 30px; border: black;background-color: rgba(255, 255, 255, 0.603)">
        <thead>
          <tr>
            <th scope="col" style="font-size: 30px;">Âges</th>
            <th scope="col" style="font-size: 30px;">Activités</th>
            <th scope="col" style="font-size: 30px;">Tarifs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-size: 20px;">4-7 ans</th>
            <td style="font-size: 20px;">Éveil à la danse</td>
            <td>QF inférieur ou égal à 1000€ = 16€ à l'année
              <br>QF supérieur à 1000€ = 20€ à l'année </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 20px;">6-9 ans</th>
            <td style="font-size: 20px;">Hip-Hop et breakdance</td>
            <td style="font-size: 16px;">QF inférieur ou égal à 1000€ = 16€ à l'année
              <br>QF supérieur à 1000€ = 20€ à l'année</td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 20px;">8-12 ans</th>
            <td style="font-size: 20px;">Modern'Jazz et contemporain</td>
            <td style="font-size: 16px;">QF inférieur ou égal à 1000€ = 16€ à l'année
              <br>QF supérieur à 1000€ = 20€ à l'année</td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 20px;">8-12 ans</th>
            <td style="font-size: 20px;">Théâtre</td>
            <td style="font-size: 16px;">QF inférieur ou égal à 1000€ = 16€ à l'année
              <br>QF supérieur à 1000€ = 20€ à l'année</td>
          </tr>
        </tbody>
      </table>

      <h3 style="text-align: center; margin-top: 20px; font-size: 40px;" id="ados">Tarifs adolescents</h3>

      <!-- Tableau tarifs Ados -->
      <table class="table table-bordered"
        style="margin-top: 30px; border: black;background-color: rgba(255, 255, 255, 0.603)">
        <thead>
          <tr>
            <th scope="col" style="font-size: 30px;">Âges</th>
            <th scope="col" style="font-size: 30px;">Activités</th>
            <th scope="col" style="font-size: 30px;">Tarifs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-size: 20px;">10 ans et +</th>
            <td style="font-size: 20px;">Hip-Hop et breakdance</td>
            <td style="font-size: 16px;">QF inférieur ou égal à 1000€ = 16€ à l'année
              <br>QF supérieur à 1000€ = 20€ à l'année </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 20px;">12 ans et +</th>
            <td style="font-size: 20px;">Théâtre</td>
            <td style="font-size: 16px;">QF inférieur ou égal à 1000€ = 16€ à l'année
              <br>QF supérieur à 1000€ = 20€ à l'année</td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 20px;">12 ans et +</th>
            <td style="font-size: 20px;">Modern'Jazz et contemporain</td>
            <td style="font-size: 16px;">QF inférieur ou égal à 1000€ = 16€ à l'année
              <br>QF supérieur à 1000€ = 20€ à l'année</td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 20px;">13 ans et +</th>
            <td style="font-size: 20px;">Guitare d'accompagnement</td>
            <td style="font-size: 16px;">QF inférieur ou égal à 1000€ = 60€ à l'année
              <br>QF supérieur à 1000€ = 65€ à l'année</td>
          </tr>
        </tbody>
      </table>

      <h3 style="text-align: center; margin-top: 20px; font-size: 40px;" id="adultes">Tarifs adultes</h3>

      <!-- Tableau tarifs Adultes -->
      <table class="table table-bordered"
        style="margin-top: 30px; border: black; background-color: rgba(255, 255, 255, 0.603)">
        <thead>
          <tr>
            <th scope="col" style="font-size: 30px;" id="artistiques">Activités artistiques</th>
            <th scope="col" style="font-size: 30px;">Tarifs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-size: 20px;">Théâtre</td>
            <td style="font-size: 16px;">15€ l'année</td>
          </tr>
          <tr>
            <td style="font-size: 20px;">Danse contemporaine</td>
            <td style="font-size: 16px;">15€ l'année</td>
          </tr>
          <tr>
            <td style="font-size: 20px;">Danse du monde</td>
            <td style="font-size: 16px;">15€ l'année</td>
          </tr>
          <tr>
            <td style="font-size: 20px;">Modern'Jazz et approche de la danse contemporaine</td>
            <td style="font-size: 16px;">15€ l'année</td>
          </tr>
          <tr>
            <td style="font-size: 20px;">Danse rythmée</td>
            <td style="font-size: 16px;">15€ l'année</td>
          </tr>
          <tr>
            <td style="font-size: 20px;">Corps, mouvement et voix Atelier séniors</td>
            <td style="font-size: 16px;">40€ l'année</td>
          </tr>
          <tr>
            <td style="font-size: 20px;">Guitare d'accompagnement</td>
            <td style="font-size: 16px;">90€ l'année</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered"
        style="margin-top: 30px; border: black; background-color: rgba(255, 255, 255, 0.603)">
        <thead>
          <tr>
            <th scope="col" style="font-size: 30px;" id="Artisanat">Artisanat adulte</th>
            <th scope="col" style="font-size: 30px;">Tarifs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-size: 20px; align-items: center;"><br> <br>Couture, bricolage et patchwork</td>
            <td style="font-size: 16px;"><b>Créneau de 3h :</b><br><b>Golbey :</b> 15€ / trimestre <br><b>Extérieur :</b> 18€ / trimestre
            <br><b>Créneau de 2h :</b><br><b>Golbey :</b> 10€ / trimestre <br><b>Extérieur :</b> 13€ / trimestre</td>
          </tr>
          <tr>
            <td style="font-size: 20px;">Echanges conviviaux</td>
            <td style="font-size: 16px;">10€ l'année</td>
          </tr>
          <tr>
            <td style="font-size: 20px;">Les rencontres du cartonnage</td>
            <td style="font-size: 16px;"><b>1 lundi ou 1 vendredi par mois</b><br>5€ par séance</td>
          </tr>
          <tr>
            <td style="font-size: 20px;">Stages techniques : couture, customisation vêtements, bijoux perlés, cartonnage...</td>
            <td style="font-size: 16px;">10€ les deux journées</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered"
      style="margin-top: 30px; border: black; background-color: rgba(255, 255, 255, 0.603)">
      <thead>
        <tr>
          <th scope="col" style="font-size: 30px;" id="sportives">Activités sportives</th>
          <th scope="col" style="font-size: 30px;">Tarifs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-size: 20px; align-items: center;">Remise en forme</td>
          <td style="font-size: 16px;">40€ l'année</td>
        </tr>
        <tr>
          <td style="font-size: 20px;">Marche "débutants"</td>
          <td style="font-size: 16px;">10€ l'année</td>
        </tr>
        <tr>
          <td style="font-size: 20px;">Gym aquatique</td>
          <td style="font-size: 16px;"><b>Communauté d'agglomération : </b>115€ l'année<br><b>Extérieur : </b>125€ par séance</td>
        </tr>
        <tr>
          <td style="font-size: 20px;">Corps, mouvement et voix pour un public senior</td>
          <td style="font-size: 16px;">40€ l'année</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered"
    style="margin-top: 30px; border: black; background-color: rgba(255, 255, 255, 0.603)">
    <thead>
      <tr>
        <th scope="col" style="font-size: 30px;" id="thematique">Atelier thématique</th>
        <th scope="col" style="font-size: 30px;">Tarifs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="font-size: 20px; align-items: center;">Anglais</td>
        <td style="font-size: 16px;">50€ l'année</td>
      </tr>
      <tr>
        <td style="font-size: 20px;">Club informatique et numérique</td>
        <td style="font-size: 16px;">15€ l'année</td>
      </tr>
      <tr>
        <td style="font-size: 20px;">Accueil en accès libre pôle informatique <br>Recherche emploi, <br> CV et lettre de motivation...</td>
        <td style="font-size: 16px;">Gratuit</td>
      </tr>

      <table class="table table-bordered"
      style="margin-top: 30px; border: black; background-color: rgba(255, 255, 255, 0.603)">
      <thead>
        <tr>
          <th scope="col" style="font-size: 30px;" id="famille">Activités en famille</th>
          <th scope="col" style="font-size: 30px;">Tarifs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-size: 20px; align-items: center;">Lieu d'accueil Mamans/ados et loisirs en famille - Jeux en famille</td>
          <td style="font-size: 16px;">Gratuit</td>
        </tr>

        <table class="table table-bordered"
        style="margin-top: 30px; border: black; background-color: rgba(255, 255, 255, 0.603)">
        <thead>
          <tr>
            <th scope="col" style="font-size: 30px;" id="culturel">loisirs culturels</th>
            <th scope="col" style="font-size: 30px;">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-size: 20px; align-items: center;">Groupe cinéma et spectacles: </td>
            <td style="font-size: 16px;">Programmation de sorties culturelles en groupe : Cinéma, café jazz, Larmes du rire...</td>
          </tr>


    </tbody>
  </table>


      <h5 style="text-align: center; font-size: 30px; margin-top: 10px; margin-bottom: 40px;">L'adhésion au centre
        social s'élève à 12€</h5>

      <!-- Messenger Plug-in Discussion Code -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function () {
          FB.init({
            xfbml: true,
            version: 'v10.0'
          });
        };

        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <!-- Your Plug-in Discussion code -->
      <div class="fb-customerchat" attribution="setup_tool" page_id="269363320180435">
      </div>


















      <!-- Bas de page -->
      <div class="card text-center" style="background: transparent;">
        <div class="card-header" style="color: black; background: transparent; margin-bottom: 10px;">
          <h1>Suivez-nous</h1>
        </div>
        <div class="card-body" style="background: transparent;">
          <a href="https://www.facebook.com/centresociallouisemichelgolbey" class="btn btn-outline"
            style="width: 60px; height: 60px; margin-bottom: 10px;">
            <img src="./images/Bas de page/facebook-square-brands.svg"></i></a>
          <a href="https://www.youtube.com/channel/UCveiS4xB037HySo1TRXHnSg" class="btn btn-outline"
            style="width: 70px; height: 70px;"><img src="./images/Bas de page/youtube-brands.svg"></i></a>
          <a href="https://www.instagram.com/centre_louise_michel_golbey/" class="btn btn-outline"
            style="width: 60px; height: 60px;margin-bottom: 10px;"><img
              src="./images/Bas de page/instagram-square-brands.svg"></i></a>
          <a href="https://www.tiktok.com/@louisemichel88190?lang=fr" class="btn btn-outline"
            style="width: 55px; height: 55px; margin-bottom: 10px;"><img
              src="./images/Bas de page/tiktok-brands.svg"></i></a>
          <!-- <a class="btn btn-outline" href="/Nous-contacter"
            style="margin-bottom: 15px;  color: black; font-size: 30px;">
            Nous contacter
          </a> -->
          <a class="btn btn-outline" href="/Mentions-legales"
            style="margin-bottom: 15px;  color: black; font-size: 30px;">
            Mentions légales
          </a>

        </div>
        <div class="card-footer text-muted">
        </div>
      </div>







    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
  </script>
</body>

</html>